{:objects
 {:Task
  {:fields
   {:taskId {:type (non-null String)}
    :title {:type (non-null String)}
    :status {:type (non-null String)}
    :created_at {:type String}
    :updated_at {:type String}}}}

 :queries
 {:tasks
  {:type (list :Task)
   :resolve :query/tasks}

  :task
  {:type :Task
   :args {:taskId {:type (non-null String)}}
   :resolve :query/task}

  :tasksByStatus
  {:type (list :Task)
   :args {:status {:type (non-null String)}}
   :resolve :query/tasks-by-status}}

 :mutations
 {:createTask
  {:type :Task
   :args {:title {:type (non-null String)}
          :status {:type (non-null String)}}
   :resolve :mutation/create-task}

  :updateTask
  {:type :Task
   :args {:taskId {:type (non-null String)}
          :title {:type String}
          :status {:type String}}
   :resolve :mutation/update-task}

  :deleteTask
  {:type :Task
   :args {:taskId {:type (non-null String)}}
   :resolve :mutation/delete-task}}}
