{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}

 :aliases
 {:dev {:extra-paths ["dev"]}
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                      cider/cider-nrepl {:mvn/version "0.57.0"}}
         :jvm-opts ["-Djdk.attach.allowAttachSelf"]
         :main-opts ["-m" "nrepl.cmdline"
                     "--interactive"
                     "--middleware" "[cider.nrepl/cider-middleware]"]}
  :test {:main-opts ["-e" "(require 'dev)"
                     "-m" "kaocha.runner"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}}
          :ns-default build}}}
